TestApp/Connected Services/ServiceReference1/Cliente1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58408/Cliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Datos.Modelo" />
  <xs:element name="Alta">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="n_identificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo_identificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="primer_nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="segundo_nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="primer_apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="segundo_apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_direccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AltaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Modificar">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element minOccurs="0" name="n_identificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="tipo_identificacion" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="primer_nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="segundo_nombre" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="primer_apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="segundo_apellido" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="id_direccion" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ModificarResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="Baja">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BajaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClientes">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerClientesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Datos.Modelo" minOccurs="0" name="ObtenerClientesResult" nillable="true" type="q1:ArrayOfvw_clientes" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDireccion">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ObtenerDireccionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Datos.Modelo" minOccurs="0" name="ObtenerDireccionResult" nillable="true" type="q2:ArrayOfvw_direccion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>