TestApp/Connected Services/ServiceReference1/Cliente.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Datos.Modelo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Datos.Modelo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfvw_clientes">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vw_clientes" nillable="true" type="tns:vw_clientes" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvw_clientes" nillable="true" type="tns:ArrayOfvw_clientes" />
  <xs:complexType name="vw_clientes">
    <xs:sequence>
      <xs:element minOccurs="0" name="direccion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="estado" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id_cliente" type="xs:int" />
      <xs:element minOccurs="0" name="id_direccion" type="xs:int" />
      <xs:element minOccurs="0" name="identificacion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primer_apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="primer_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundo_apellido" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="segundo_nombre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="tipo_identificacion" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vw_clientes" nillable="true" type="tns:vw_clientes" />
  <xs:complexType name="ArrayOfvw_direccion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="vw_direccion" nillable="true" type="tns:vw_direccion" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfvw_direccion" nillable="true" type="tns:ArrayOfvw_direccion" />
  <xs:complexType name="vw_direccion">
    <xs:sequence>
      <xs:element minOccurs="0" name="Descripcion" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="vw_direccion" nillable="true" type="tns:vw_direccion" />
</xs:schema>