TestApp/Connected Services/ServiceReference1/Cliente.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="Cliente" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:58408/Cliente.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:58408/Cliente.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:58408/Cliente.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Datos.Modelo" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICliente_Alta_InputMessage">
    <wsdl:part name="parameters" element="tns:Alta" />
  </wsdl:message>
  <wsdl:message name="ICliente_Alta_OutputMessage">
    <wsdl:part name="parameters" element="tns:AltaResponse" />
  </wsdl:message>
  <wsdl:message name="ICliente_Modificar_InputMessage">
    <wsdl:part name="parameters" element="tns:Modificar" />
  </wsdl:message>
  <wsdl:message name="ICliente_Modificar_OutputMessage">
    <wsdl:part name="parameters" element="tns:ModificarResponse" />
  </wsdl:message>
  <wsdl:message name="ICliente_Baja_InputMessage">
    <wsdl:part name="parameters" element="tns:Baja" />
  </wsdl:message>
  <wsdl:message name="ICliente_Baja_OutputMessage">
    <wsdl:part name="parameters" element="tns:BajaResponse" />
  </wsdl:message>
  <wsdl:message name="ICliente_ObtenerClientes_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClientes" />
  </wsdl:message>
  <wsdl:message name="ICliente_ObtenerClientes_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerClientesResponse" />
  </wsdl:message>
  <wsdl:message name="ICliente_ObtenerDireccion_InputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDireccion" />
  </wsdl:message>
  <wsdl:message name="ICliente_ObtenerDireccion_OutputMessage">
    <wsdl:part name="parameters" element="tns:ObtenerDireccionResponse" />
  </wsdl:message>
  <wsdl:portType name="ICliente">
    <wsdl:operation name="Alta">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/Alta" message="tns:ICliente_Alta_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/AltaResponse" message="tns:ICliente_Alta_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/Modificar" message="tns:ICliente_Modificar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/ModificarResponse" message="tns:ICliente_Modificar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Baja">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/Baja" message="tns:ICliente_Baja_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/BajaResponse" message="tns:ICliente_Baja_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/ObtenerClientes" message="tns:ICliente_ObtenerClientes_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/ObtenerClientesResponse" message="tns:ICliente_ObtenerClientes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ObtenerDireccion">
      <wsdl:input wsaw:Action="http://tempuri.org/ICliente/ObtenerDireccion" message="tns:ICliente_ObtenerDireccion_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICliente/ObtenerDireccionResponse" message="tns:ICliente_ObtenerDireccion_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICliente" type="tns:ICliente">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Alta">
      <soap:operation soapAction="http://tempuri.org/ICliente/Alta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Modificar">
      <soap:operation soapAction="http://tempuri.org/ICliente/Modificar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Baja">
      <soap:operation soapAction="http://tempuri.org/ICliente/Baja" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerClientes">
      <soap:operation soapAction="http://tempuri.org/ICliente/ObtenerClientes" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtenerDireccion">
      <soap:operation soapAction="http://tempuri.org/ICliente/ObtenerDireccion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Cliente">
    <wsdl:port name="BasicHttpBinding_ICliente" binding="tns:BasicHttpBinding_ICliente">
      <soap:address location="http://localhost:58408/Cliente.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>